.pageMovie-container {
    padding: 10px;
}

.pageMovie-container h1 {
    color: #fff;
    font-size: 24px;
    letter-spacing: -1.5%;
    margin-bottom: 50px;
}

.pageMovie-container li {
    font-size: 18px;
    list-style-type: none;
    letter-spacing: -1.5%;
    margin-bottom: 12px;
}
.pagemovie-filter-containeer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination-div-container {
    margin-top: 25px;

} 



@media (min-width: 1200px) {
    .pageMovie-container h1 {
        font-size: 48px;
    }

    .pageMovie-container li {

        font-size: 24px;


    }
}

@media (min-width: 576px) {
    .pageMovie-container {
        padding: 20px;
    }


}

@media (min-width: 768px) {
    .pageMovie-container {
        padding: 40px;
    }

    .pagination-div-container {
        margin-top: 40px;

    }

}